body {
  background: darkblue;
  margin: 0;
}

.container,
.container2 {
  background: white;
  width: 95%;
  border-radius: 15px;
  margin: 0 auto;
}

.container {
  height: 410px;
}

.container2 {
  height: 320px;
}

.container1 {
  width: 98%;
  height: 140px;
  border-radius: 15px;
  margin: 0 auto;
}

.text {
  text-align: center;
}

p {
  margin-left: 7px;
  text-align: center;
  font-weight: bolder;
}

h3 {
  text-align: center;
}

button {
  width: 45%;
  padding: 10px 0;
  border-radius: 25px;
  border: none;
  margin-left: 8px;
}

a {
  text-decoration: none;
}

.sp {
  background: rgba(0, 0, 255, 1);
  width: 90%;
  padding: 2px;
  border-radius: 10px;
  margin: 20px auto 0;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background: white;
  color: black;
  font-size: 13px;
  padding-bottom: 5px;
  padding-top: 10px;
}

footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 10px;
  max-width: 250px;
  margin: 0 auto;
  padding: 0;
}

footer nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-align: center;
}

footer nav ul li a {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: 0.3s;
}

footer nav ul li a:hover {
  color: #0047b3;
}

footer nav ul li.current a {
  background: gold;
  color: black;
  text-align: center;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 17px;
}

.branding {
  background: blue;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.branding2 {
  background: green;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.branding3 {
  background: red;
  color: white;
  text-align: center;
  opacity: 0.9;
}

@media (max-width: 480px) {
  footer nav ul {
    gap: 5px;
    font-size: 13px;
  }
}
