<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
    <title>Home</title>
</head>
<body>
    
    <div class="sp">
        
        <h3>Task 1</h3>
        <p>Instructions:</p>
        <ul>
            
            <li>Copy the below post.</li>
            <li>Post on your WhatsApp Status.</li>
            <li>Screenshot the post on your status.</li>
            <li>Submit your proof.</li>
            
        </ul>
        
        <p>Note:</p>
        <ul>
            
            <li>Please make sure you perform all task accordingly and truthfully as this will determine your payment.</li>
            <li>Failure to perform task will result in not paying of funds.</li>
            <li>All tasks will be verified on withdrawal day before payment.</li>
            
            
        </ul>
        <br>
        
        
        
        
    </div>
    
    <p>No available task at the moment,please come back later...</p>
        
        <footer>
    <div class="foot">
        
        <nav>
                
     <ul>
  <li><a href="sponsor.html">♾️<br>SP
  </a></a></li>
  <li class="current"><a href="task.html">📜<br>Task</a></li>
  <li><a href="/dashboard">🏦<br>Dashboard</a></li>
  <li><a href="ads.html">📻<br>Ads </a></li>
  <li><a href="index.html">🔙<br>Log out</a></li>
  
     </ul>
     
        </nav>
        
    </div>
    </footer>
    
</body>
</html>
